<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Cloud Learning </title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body style="background-Color:lightblue">
  <div>
      <center><h1>Welcome to Cloud Learning application</h1></center>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
     <table style="width:500px">
         <tr>
             <td><b>Title: </b><br/> </td>
             <td><input name="title" type="text" style="background-color:azure" /> <br/></td>
         </tr>
          <tr>
             <td><b>Description:</b> <br/><br/><br/></td>
             <td> <input name="description" type="text" style="background-color:azure" /><br/><br/><br/></td>
         </tr>
         <tr>
             <td><center><input type="submit" style="background-color:antiquewhite" name="submit" value="submit" /></center></td>
         </tr>
     </table>
    </form>
  </div>
</body>
</html>